/* src/App.css */

.App {
  text-align: center;
}

.explore-button {
  background-color: rgb(0,161,212);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;;
}

.sidebar {
  background-color: rgb(66, 96, 123); 
  color: white; 
  text-decoration: none;
}

.sidebar {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 1;
}



.expanded {
  width: 35%;
}

.provider-list {
  list-style-type: none;
  padding: 0;
}

.provider-list li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.provider-list li:hover {
  background-color: #ddd;
}

.provider-list li.active {
  background-color: #ccc;
}

.header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.api-detail{
  background-color: rgb(66, 96, 123);
  height: 100vh !important;
  color: white;
  overflow-y: auto; 
}


.head{
  display: flex;
  justify-content: center;
  padding: 35px;
}

.api-detail img {
  max-width: 100%;
  height: auto;
}

.description {
  margin-top: 20px !important;
  line-height: 1px;
  margin-bottom: 66px !important;
  text-align: left;
}

.swagger {
  margin-top: 20px !important;
  line-height: 1px;
  /* text-align: right; */

}

.contact {
  margin-top: 36px;
  text-align: left;
  
}



.contact p {
  margin: 6px;
    /* margin-left: -107px; */
}

.close-button {
  position: absolute;
  top: 24px;
  left: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.close-button::before,
.close-button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000; 
}

.close-button::before {
  transform: rotate(45deg);
}

.close-button::after {
  transform: rotate(-45deg);
}

.home {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh; 
  background-color: rgb(66,96,123);
}

.darkened-home {
  position: relative;
  background-color:rgb(20,29,37); 
  
}

.dark-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3); 
  z-index: 4; 
}

.darkened-home .explore-button {
  background-color: rgba(0, 0, 0, 0.3); 
  color: grey;
}

.provider-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  padding:11px;
}

.toggle-arrow {
  width: 0;
  height: 0;
  margin-left: 10px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.toggle-arrow.up {
  border-bottom: 6px solid white; 
}

.toggle-arrow.down {
  border-top: 6px solid white; 

}

.provider-details {
  background-color: rgb(26,38,50);
  width: 94%;
  padding: 12px;
  border-radius: 9px;
}

.image-and-name{
  display: flex;
}

.image-and-name img{
  margin-right: 25px;
  height: 74px;
}

.provider-list li:hover {
  background-color:rgb(66,96,123) !important; 
}


.headline {
  font-size: 24px;
  font-weight: bold;
  color: #333; 
}

.para {
  font-size: 16px;
  line-height: 1.5; 
  color: #666; 
}

.box{
  float: left;
    /* margin-left: 24%; */
    padding-left: 30%;
}

.swaggerLink{
  margin-left: -26%;
  text-decoration: none;
  color: white;
}

.headPara{
  text-align: left;
    font-size: 24px;
    font-weight: 200;
}



.explore-more-button {
  background-color: rgb(0, 161, 212);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  position: absolute;
  bottom: 68px; 
  left: 50%;
  transform: translateX(-50%);
}