/* src/App.css */

.App {
  text-align: center;
}

.explore-button {
  background-color: rgb(0, 161, 212);
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}

.sidebar {
  background-color: rgb(66, 96, 123);
  color: white;
  text-decoration: none;
}

.sidebar {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 1;
}

.expanded {
  width: 29%;
}

.provider-list {
  list-style-type: none;
  padding: 0;
}

.provider-list li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.provider-list li:hover {
  background-color: #ddd;
}

.provider-list li.active {
  background-color: #ccc;
}

.header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.api-detail {
  background-color: rgb(66, 96, 123);
  height: 100vh !important;
  color: white;
  overflow-y: auto;
}

.head {
  display: flex;
  padding: 18px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.api-detail img {
  width: 120px;
  height: 120px;
}

.api-detail h1 {
  margin-left: 13px;
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description {
  margin-top: 20px !important;
  line-height: 1px;
  margin-bottom: 66px !important;
  text-align: left;
}

.swagger {
  margin-top: 20px !important;
  line-height: 1px;
  text-align: left;
}

.contact {
  margin-top: 36px;
  text-align: left;
}

.contact p {
  margin: 3px;
  /* margin-left: -107px; */
}

.close-button {
  position: absolute;
  top: 24px;
  left: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.close-button::before,
.close-button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
}

.close-button::before {
  transform: rotate(45deg);
}

.close-button::after {
  transform: rotate(-45deg);
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(66, 96, 123);
}

.darkened-home {
  position: relative;
  background-color: rgb(20, 29, 37);
}

.dark-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 4;
}

.darkened-home .explore-button {
  background-color: rgba(0, 0, 0, 0.3);
  color: grey;
}

.provider-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  padding: 11px;
  width: 83%;
}

.toggle-arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  width: 1px; /* Adjust the size as needed */
  height: 1px;
  margin-top: 14px;
}

.toggle-arrow.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.toggle-arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.provider-details {
  background-color: rgb(26, 38, 50);
  width: 82%;
  padding: 12px;
  border-radius: 9px;
  margin-left: 20px;
}

.image-and-name {
  display: flex;
}

.image-and-name img {
  height: 30px;
  margin-right: 5px;
}

.image-and-name h3 {
  margin: 0px;
  padding: 0px;
}

.provider-list li:hover {
  background-color: rgb(66, 96, 123) !important;
}

.headline {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.para {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

.box {
  /* float: left; */
  margin-left: 8%;
  /* padding-left: 30%; */
}

.swaggerLink {
  /* margin-left: -26%; */
  text-decoration: none;
  color: white;
}

.headPara {
  text-align: left;
  font-size: 24px;
  font-weight: 200;
}

.explore-more-button {
  background-color: rgb(0, 161, 212);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  position: absolute;
  bottom: 68px;
  left: 50%;
  transform: translateX(-50%);
}

.providerHeader {
  color: #f5f5f5;
  /* font-family: Inter; */
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: -57px;
}

.providerbox {
  display: flex;
  margin-left: 10px;
}

.Insideproviderbox {
  display: flex;
  margin-left: -12px;
}

.innerContainer {
  display: flex;
  padding: 0px 120px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
  align-self: stretch;
}
